#adminfondo * {
    color: black;
}

#adminfondo {
    background-color: gainsboro;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 100%;
}

#adminfondo div {
    border: 1px solid black;
    padding: 20px;
}

.recuadreComandaAdmin {
    background-color: gray;
    padding: 20px;
}

#iconoCargaAdmin {
    display: none;
    height: 5rem;
    width: 5rem;
}

.tablahistorial {
    min-width: 100%;
    border-collapse: separate;
}

.tablahistorial tr, .tablahistorial td, .tablahistorial th {
    border: 1px solid black;
    padding: 10px;
    min-width: 100%;
}

#tituloadmin {
    color: white;
}

#adminfondo button {
    transition: 300ms;
    border: none;
    background: none;
    text-decoration: underline;
}

#adminfondo button:hover {
    transition: 300ms;
    color: green;
    text-decoration: orangered;
}