#cartaBackground {
    background-image: url('/img/lacarta/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px;

    display: flex;
    justify-content: center;
}

#carta {
    background-color: var(--background1);
    padding: 40px;
}

#filtroslinks {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
}

.botonfiltrocomanda {
    transition: 200ms;
    font-weight: 600;
    font-size: 130%;
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
}

.botonfiltrocomanda:hover {
    transition: 200ms;
    color: black;
    background-color: white;
}

.botonfiltrocomandaselect {
    font-weight: 600;
    font-size: 130%;
    text-decoration: none;
    padding: 5px;
    color: black;
    background-color: white;
}

#lacartatitle {
    display: flex;
    justify-content: center;
}

.cartaimages {
    width: 358px;
    height: 282px;
}

#divProductos h3 {
    text-align: center;
    font-weight: 100;
    
}

#divProductos p {
    font-size: 160%;
    font-weight: 700;
}

/*Finestra amb informacio del carrito*/
#ventana {
    /*width: 300px;
    height: 200px;*/
    background-color: var(--backgroundMenu);
    border: 3px solid #808080;
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: move;
    padding: 10px;
}

#ventana-header {
    padding: 5px;
    cursor: move;
}

#ventana-header h2 {
    text-align: center;
    font-size: 200%;
}

.marcoproducto {
    max-width: 382px;
}

#botonventanitacomanda {
    margin-bottom: 20px;
}

.plusimage {
    transition: 300ms;
}

.plusimage:hover {
    transition: 300ms;
    transform: rotateZ(180deg);
    filter: invert();
    cursor: pointer;
    
}