#cartaBackground {
    background-image: url('/img/lacarta/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px;

    display: flex;
    justify-content: center;
}

#carta {
    background-color: var(--background1);
    padding: 40px;
}

#filtroslinks a {
    font-weight: 600;
    font-size: 130%;
    text-decoration: none;
    color: #ffffff;
    padding: 45px;
}

#lacartatitle {
    display: flex;
    justify-content: center;
}
