#gridprofile {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto;
    text-align: center;
}

#lateralperfil {
    color: black;
    background-color: var(--perfilgray);
    padding: 20px;
}

#restoperfil {
    background-color: var(--mc-vanilla-green-5);
    padding: 20px;
}

#nomperfil {
    font-family: MinecraftTen;
}

#fotoperfil {
    height: 250px;
    width: 250px;
    border-radius: 100%;
}

#fondoiniciasessio {
    background-image: url('../img/background_landscape.webp');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fondoiniciasessio * {
    color: black;
}

#formularioiniciasessio {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: white;
}

#formularioiniciasessio div {
    background-color: var(--logingray);
    padding: 10px 20px;
}

#formularioiniciasessio form {
    padding: 20px;
}

#divbee {
    float: right;
}

#divbee img {
    height: 300px;
}

#divbee2 {
    float: left;
}

#divbee2 img {
    height: 300px;
    transform: scaleX(-1);
    
}

#loginadiv {
    text-align: center;
}

.profileordertitle {
    background-color: var(--logingray);
    box-shadow: inset 0 -.125rem 0 rgba(0, 0, 0, .2), inset 0 .125rem 0 hsla(0, 0%, 100%, .10196078431372549);
    font-size: 100%;
    padding: 10px;
}

.profileorderproducts {
    background-color: var(--perfilgray);
    box-shadow: inset 0 -.125rem 0 rgba(0, 0, 0, .2), inset 0 .125rem 0 hsla(0, 0%, 100%, .10196078431372549);
    margin-left: 20px;
    margin-right: 20px;
}

.profileorderproducts * {
    color: black;
}

.comandaimagesperfil {
    width: 200px;
}

.productoenperfildiv {
    background-color: var(--logingray);
    margin: 10px;
}

.onlyproductsprofile {
    display: flex;
    justify-content: center;
}

#fondoiniciasessioadmin {
    background-image: url("../img/Soy_admin.webp");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


#fondoiniciasessioadmin * {
    color: black;
}