:root {
    --background1: #262423;
    --background2: #171615;
    --background31: #313131;
    --backgroundMenu: #3D3938;
    --subtitulos: #ABA09C;
    --perfilgray: #EDE5E2;
    --logingray: #D0C5C0;
    --shadow: #3A3735;
    --mc-vanilla-green-6: #2A641C;
    --mc-vanilla-green-4: #52A535;
    --mc-vanilla-green-5: #3C8527;
    --hovergreen: #367723;
}

@font-face {
    font-family: 'MinecraftTen';
    src: url('../fonts/MinecraftTen.ttf') format('truetype');
}

* {
    margin: 0;

    font-family: 'Noto Sans', 'Helvetica', 'Times New Roman';

    color: white;
}

h2 {
    font-weight: 200;
    font-size: 24px;
}

body {
    overflow-x: hidden;
}

.buttondiscount {
    background-color: red;
    font-family: "MinecraftTen", "Noto Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    color: white;
    padding: 30px;
    font-size: 140%
}

.heading2 {
    font-family: MinecraftTen;
    font-size: 3.5rem;
}

.greenbutton {
    background-color: #3C8527;
    box-shadow: inset 0 -15px 0 var(--mc-vanilla-green-6), inset 0 15px 0 var(--mc-vanilla-green-4);
    font-size: 2rem;
    font-weight: 800;
    padding: .9375rem 1.75rem;
    width: 26rem;
    height: 5.5rem;
    text-align: center;
    text-decoration: none;
    color: white;
}

.smallgreenbutton {
    background-color: #3C8527;
    box-shadow: inset 0 -7.5px 0 var(--mc-vanilla-green-6), inset 0 7.5px 0 var(--mc-vanilla-green-4);
    font-size: 1rem;
    font-weight: 800;
    padding: 0.46875rem 0.875rem;
    width: 13rem;
    height: 2.75rem;
    text-align: center;
    text-decoration: none;
    color: white;
}

.greenbutton:hover {
    background-color: var(--hovergreen);
}

.no-wrap {
    white-space: nowrap;
}

label {
    font-weight: 500;
    font-size: 110%;
    padding-bottom: 20px;
}

input {
    padding: 15px 35px 15px 35px;
    color: black;
}

.plusimage {
    height: 50px;
    width: 54px;
}