<div id="fondoiniciasessioadmin">
    <div id="divbee2">
        <img src="/img/babyghast.gif">
    </div>
    <div id="formularioiniciasessio">
        <div>
            <h2 class="heading2">BENVINGUT<br>FOODCRAFT ADMIN</h2>
        </div>
        <form id="loginForm">
            <label>Usuari:</label>
            <br>
            <input type="text" name="usuario" id="usuario">
            <br><br>
            <label>Clau d'acces:</label>
            <br>
            <input type="password" name="contrasenya" id="contrasenya">
            <br><br>
            <input class="greenbutton" type="submit" value="Entrar">
        </form>
    </div>
    <div id="divbee">
        <img src="/img/babyghast.gif">
    </div>
</div>

<script src="/public/scripts/adminStartSession.js"></script>