<h2 class="heading2 text-center">Panell D'administracio</h2>
<div class="d-flex justify-content-center">
    <div id="iconoCargaAdmin" class="spinner-border text-danger" role="status"></div>
    <input id="clauAdmin" type="password">
</div>
<div id="adminfondo">
    <div>
        <ul>
            <li><button id="buttonmostrarcomandes">Mostrar Comandes</button>
                <ul>
                    <li><button id="botonfiltrarusuario">Usuari</button></li>
                    <li><button id="botonfiltrarfecha">Data</button></li>
                    <li><button id="botonfiltrarprecio">Preu</button></li>
                </ul>
            </li>
            <li><button>Historial de Accions</button></li>
        </ul>
    </div>
    <div id="divdecontenidoadmin">

    </div>
</div>

<script src="/public/scripts/panel.js"></script>